.container {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.header {
  display: flex;
  justify-content: start;
  flex-basis: 10%;
  gap: 10px;
  background-color: #16008B;
  color: white;
}

.back-link {
  margin: auto 0;
}
.back-link img{
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-left: 10px;
  }
  
#group-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: auto 0;
  border-radius: 50%;
}

#group-name {
  margin: auto 0px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  background-color: #d4deee;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.message {
  width: 90%;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  border-radius: 4px;
}

.message-content {
  padding: 20px;
}

.message-timestamp {
  display: flex;
  justify-content: end;
  padding: 0 20px 10px 0;
}

.separator {
    padding: 0 5px;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  background-color: #16008B;
  border-radius: 0px;

}

.input-field {
  position: absolute;
  width: 87%;
  padding: 0.75vh;
  height: 70%;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  font-size: 1rem;
}

.send-button {
  position: absolute;
  width: 30px;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  opacity: 1;
}
