#modal-content-desktop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 300px;
    background-color: white;
    z-index: 9999;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .group-name-container,
  .color-selection-container {
    display: flex;
    gap: 10px;
  }
  
  .group-name-input {
    padding: 0 60px;
    border-radius: 20px;
    height: 40px;
    margin: auto 0;
    border: 1px solid;
  }
  
  .color-buttons-container {
    display: flex;
    gap: 5px;
  }
  
  .color-button {
    border: none;
    background-color: white;
    cursor: pointer;
    
  }
  
  .color-image {
    width: 40px;
    height: 40px;
  }
  
  .selected {
    border: 2px solid black;
    border-radius: 50%;
  }
  
  .create-button {
    display: flex;
    position: absolute;
    right: 30px;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    background-color: #001f8b;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  